

.records{

    margin-top:52px;
    padding-bottom: 60px;

    p{
        font-size: small;
        color:#A1A1A1;
    }
    
    .my-point{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 18px 8px;
        width: 90%;
        margin: 0 5%;
        h2{
            font-size:x-large;
            color: #45BF86;
            font-weight: 500;
        }
    }

    .today-point{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin:0 5%;
        padding:18px 0px;
        border-top:1px solid #D0D0D0;
        img{
            width: 42px;
            height: 42px;
            display: inline-block;
        }

        div{
            margin-left:18px;
            display: flex;
            flex-direction: column;
            
        }
        h3{
            font-size:large;
        }
    }

    .thick-line{
        width: 100%;
        background-color: #F2F2F2;
        height: 13px;
    }

    .items-container{
        
       display: flex;
       flex-direction: column;
       width: 100%;

        .item{
            width: 100%;
            display: flex;
            padding:19px 24px;

            border-bottom: 1px solid #F2F2F2;
            background-color: #fff;

            p{
                font-size:larger;
                float:left;
            }
            div{
                width: 75%;
                padding-left:31px;
                float:left;
                h3{
                    font-size:large;
                    color:black;
                }
                p{
                    font-size:medium;
                }
            }
            h3{
                color:#45BF86;
            }
        }
    }
}